//- Comentario JADE
// Comentatio HTML
//- Esto se conoce como interpolación ↓
//- Creación de mixin (parecido funciones)
mixin menu(url, name)
    li #[a(href=`${url}`) #{name}]

mixin pic(name, ext)
    source(srcset=`img/webp/${name}.webp`, type="image/webp")
    img(src=`img/${name}.${ext}`)

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        each css in files.CSS
            link(rel="stylesheet", href=`../${css}`)
    body
        header.container-full.header.center
            nav.container.nav
                ul.item
                    +menu('#maraton', 'Maratón')
                    +menu('#mito', 'Mito')
                    +menu('#olimpico', 'Olímpico')
                    li
                        +pic('logo-maraton', 'png')
                    +menu('#mayores','Mayores')
                    +menu('#top-ten', 'Top Ten')
                    +menu('#inspirate', "Inspírate")
        
        
                    